# version=26.3.1
# platform=ixr-d2l
set / network-instance default type default
set / network-instance default router-id 10.10.10.10
set / network-instance default ip-forwarding receive-ipv4-check false
set / network-instance default interface ethernet-1/1.0
set / network-instance default interface ethernet-1/2.0
set / network-instance default interface ethernet-1/3.0
set / network-instance default interface ethernet-1/4.0
set / network-instance default interface system0.0
set / network-instance default protocols bgp admin-state enable
set / network-instance default protocols bgp autonomous-system 100
set / network-instance default protocols bgp router-id 10.10.10.10
set / network-instance default protocols bgp ebgp-default-policy import-reject-all true
set / network-instance default protocols bgp ebgp-default-policy export-reject-all true
set / network-instance default protocols bgp afi-safi evpn admin-state enable
set / network-instance default protocols bgp afi-safi evpn multipath allow-multiple-as true
set / network-instance default protocols bgp afi-safi evpn multipath ebgp maximum-paths 64
set / network-instance default protocols bgp afi-safi evpn multipath ibgp maximum-paths 64
set / network-instance default protocols bgp afi-safi evpn evpn inter-as-vpn true
set / network-instance default protocols bgp afi-safi evpn evpn rapid-update true
set / network-instance default protocols bgp afi-safi evpn evpn keep-all-routes true
set / network-instance default protocols bgp afi-safi ipv4-unicast admin-state enable
set / network-instance default protocols bgp afi-safi ipv4-unicast multipath allow-multiple-as true
set / network-instance default protocols bgp afi-safi ipv4-unicast multipath ebgp maximum-paths 32
set / network-instance default protocols bgp afi-safi ipv4-unicast multipath ibgp maximum-paths 32
set / network-instance default protocols bgp afi-safi ipv4-unicast ipv4-unicast advertise-ipv6-next-hops true
set / network-instance default protocols bgp afi-safi ipv4-unicast ipv4-unicast receive-ipv6-next-hops true
set / network-instance default protocols bgp afi-safi ipv4-unicast evpn rapid-update true
set / network-instance default protocols bgp afi-safi ipv6-unicast admin-state disable
set / network-instance default protocols bgp preference ebgp 170
set / network-instance default protocols bgp preference ibgp 170
set / network-instance default protocols bgp route-advertisement rapid-withdrawal true
set / network-instance default protocols bgp route-advertisement wait-for-fib-install false
set / network-instance default protocols bgp group ebgp-evpn admin-state enable
set / network-instance default protocols bgp group ebgp-evpn export-policy [ ebgp-isl-export-policy ]
set / network-instance default protocols bgp group ebgp-evpn import-policy [ ebgp-isl-import-policy ]
set / network-instance default protocols bgp group ebgp-evpn afi-safi evpn admin-state enable
set / network-instance default protocols bgp group ebgp-evpn afi-safi ipv4-unicast admin-state enable
set / network-instance default protocols bgp group ebgp-evpn afi-safi ipv6-unicast admin-state disable
set / network-instance default protocols bgp dynamic-neighbors interface ethernet-1/1.0 peer-group ebgp-evpn
set / network-instance default protocols bgp dynamic-neighbors interface ethernet-1/1.0 allowed-peer-as [ 1 ]
set / network-instance default protocols bgp dynamic-neighbors interface ethernet-1/2.0 peer-group ebgp-evpn
set / network-instance default protocols bgp dynamic-neighbors interface ethernet-1/2.0 allowed-peer-as [ 2 ]
set / network-instance default protocols bgp dynamic-neighbors interface ethernet-1/3.0 peer-group ebgp-evpn
set / network-instance default protocols bgp dynamic-neighbors interface ethernet-1/3.0 allowed-peer-as [ 3 ]
set / network-instance default protocols bgp dynamic-neighbors interface ethernet-1/4.0 peer-group ebgp-evpn
set / network-instance default protocols bgp dynamic-neighbors interface ethernet-1/4.0 allowed-peer-as [ 4 ]
set / routing-policy prefix-set prefixset-myfabric prefix 10.10.10.10/32 mask-length-range 32..32
set / routing-policy policy ebgp-isl-export-policy default-action policy-result reject
set / routing-policy policy ebgp-isl-export-policy statement 10 match protocol local
set / routing-policy policy ebgp-isl-export-policy statement 10 match prefix prefix-set prefixset-myfabric
set / routing-policy policy ebgp-isl-export-policy statement 10 action policy-result accept
set / routing-policy policy ebgp-isl-export-policy statement 10 action bgp local-preference operation set
set / routing-policy policy ebgp-isl-export-policy statement 10 action bgp local-preference value 100
set / routing-policy policy ebgp-isl-export-policy statement 15 match protocol bgp
set / routing-policy policy ebgp-isl-export-policy statement 15 action policy-result accept
set / routing-policy policy ebgp-isl-export-policy statement 15 action bgp local-preference operation set
set / routing-policy policy ebgp-isl-export-policy statement 15 action bgp local-preference value 100
set / routing-policy policy ebgp-isl-export-policy statement 20 match protocol aggregate
set / routing-policy policy ebgp-isl-export-policy statement 20 action policy-result accept
set / routing-policy policy ebgp-isl-export-policy statement 20 action bgp local-preference operation set
set / routing-policy policy ebgp-isl-export-policy statement 20 action bgp local-preference value 100
set / routing-policy policy ebgp-isl-export-policy statement 25 match bgp evpn route-type [ 1 ]
set / routing-policy policy ebgp-isl-export-policy statement 25 action policy-result accept
set / routing-policy policy ebgp-isl-export-policy statement 25 action bgp local-preference operation set
set / routing-policy policy ebgp-isl-export-policy statement 25 action bgp local-preference value 100
set / routing-policy policy ebgp-isl-export-policy statement 30 match bgp evpn route-type [ 2 ]
set / routing-policy policy ebgp-isl-export-policy statement 30 action policy-result accept
set / routing-policy policy ebgp-isl-export-policy statement 30 action bgp local-preference operation set
set / routing-policy policy ebgp-isl-export-policy statement 30 action bgp local-preference value 100
set / routing-policy policy ebgp-isl-export-policy statement 35 match bgp evpn route-type [ 3 ]
set / routing-policy policy ebgp-isl-export-policy statement 35 action policy-result accept
set / routing-policy policy ebgp-isl-export-policy statement 35 action bgp local-preference operation set
set / routing-policy policy ebgp-isl-export-policy statement 35 action bgp local-preference value 100
set / routing-policy policy ebgp-isl-export-policy statement 40 match bgp evpn route-type [ 4 ]
set / routing-policy policy ebgp-isl-export-policy statement 40 action policy-result accept
set / routing-policy policy ebgp-isl-export-policy statement 40 action bgp local-preference operation set
set / routing-policy policy ebgp-isl-export-policy statement 40 action bgp local-preference value 100
set / routing-policy policy ebgp-isl-export-policy statement 45 match bgp evpn route-type [ 5 ]
set / routing-policy policy ebgp-isl-export-policy statement 45 action policy-result accept
set / routing-policy policy ebgp-isl-export-policy statement 45 action bgp local-preference operation set
set / routing-policy policy ebgp-isl-export-policy statement 45 action bgp local-preference value 100
set / routing-policy policy ebgp-isl-import-policy default-action policy-result reject
set / routing-policy policy ebgp-isl-import-policy statement 10 match protocol bgp
set / routing-policy policy ebgp-isl-import-policy statement 10 action policy-result accept
set / routing-policy policy ebgp-isl-import-policy statement 10 action bgp local-preference operation set
set / routing-policy policy ebgp-isl-import-policy statement 10 action bgp local-preference value 100
set / routing-policy policy ebgp-isl-import-policy statement 25 match bgp evpn route-type [ 1 ]
set / routing-policy policy ebgp-isl-import-policy statement 25 action policy-result accept
set / routing-policy policy ebgp-isl-import-policy statement 25 action bgp local-preference operation set
set / routing-policy policy ebgp-isl-import-policy statement 25 action bgp local-preference value 100
set / routing-policy policy ebgp-isl-import-policy statement 30 match bgp evpn route-type [ 2 ]
set / routing-policy policy ebgp-isl-import-policy statement 30 action policy-result accept
set / routing-policy policy ebgp-isl-import-policy statement 30 action bgp local-preference operation set
set / routing-policy policy ebgp-isl-import-policy statement 30 action bgp local-preference value 100
set / routing-policy policy ebgp-isl-import-policy statement 35 match bgp evpn route-type [ 3 ]
set / routing-policy policy ebgp-isl-import-policy statement 35 action policy-result accept
set / routing-policy policy ebgp-isl-import-policy statement 35 action bgp local-preference operation set
set / routing-policy policy ebgp-isl-import-policy statement 35 action bgp local-preference value 100
set / routing-policy policy ebgp-isl-import-policy statement 40 match bgp evpn route-type [ 4 ]
set / routing-policy policy ebgp-isl-import-policy statement 40 action policy-result accept
set / routing-policy policy ebgp-isl-import-policy statement 40 action bgp local-preference operation set
set / routing-policy policy ebgp-isl-import-policy statement 40 action bgp local-preference value 100
set / routing-policy policy ebgp-isl-import-policy statement 45 match bgp evpn route-type [ 5 ]
set / routing-policy policy ebgp-isl-import-policy statement 45 action policy-result accept
set / routing-policy policy ebgp-isl-import-policy statement 45 action bgp local-preference operation set
set / routing-policy policy ebgp-isl-import-policy statement 45 action bgp local-preference value 100
set / system lldp interface ethernet-1/1 admin-state enable
set / system lldp interface ethernet-1/2 admin-state enable
set / system lldp interface ethernet-1/3 admin-state enable
set / system lldp interface ethernet-1/4 admin-state enable
set / interface ethernet-1/1 admin-state enable
set / interface ethernet-1/1 subinterface 0 admin-state enable
set / interface ethernet-1/1 subinterface 0 ipv6 admin-state enable
set / interface ethernet-1/1 subinterface 0 ipv6 router-advertisement router-role admin-state enable
set / interface ethernet-1/1 subinterface 0 ipv6 router-advertisement router-role max-advertisement-interval 10
set / interface ethernet-1/1 subinterface 0 ipv6 router-advertisement router-role min-advertisement-interval 4
set / interface ethernet-1/2 admin-state enable
set / interface ethernet-1/2 subinterface 0 admin-state enable
set / interface ethernet-1/2 subinterface 0 ipv6 admin-state enable
set / interface ethernet-1/2 subinterface 0 ipv6 router-advertisement router-role admin-state enable
set / interface ethernet-1/2 subinterface 0 ipv6 router-advertisement router-role max-advertisement-interval 10
set / interface ethernet-1/2 subinterface 0 ipv6 router-advertisement router-role min-advertisement-interval 4
set / interface ethernet-1/3 admin-state enable
set / interface ethernet-1/3 subinterface 0 admin-state enable
set / interface ethernet-1/3 subinterface 0 ipv6 admin-state enable
set / interface ethernet-1/3 subinterface 0 ipv6 router-advertisement router-role admin-state enable
set / interface ethernet-1/3 subinterface 0 ipv6 router-advertisement router-role max-advertisement-interval 10
set / interface ethernet-1/3 subinterface 0 ipv6 router-advertisement router-role min-advertisement-interval 4
set / interface ethernet-1/4 admin-state enable
set / interface ethernet-1/4 subinterface 0 admin-state enable
set / interface ethernet-1/4 subinterface 0 ipv6 admin-state enable
set / interface ethernet-1/4 subinterface 0 ipv6 router-advertisement router-role admin-state enable
set / interface ethernet-1/4 subinterface 0 ipv6 router-advertisement router-role max-advertisement-interval 10
set / interface ethernet-1/4 subinterface 0 ipv6 router-advertisement router-role min-advertisement-interval 4
set / interface system0 subinterface 0 admin-state enable
set / interface system0 subinterface 0 ipv4 admin-state enable
set / interface system0 subinterface 0 ipv4 address 10.10.10.10/32